.contentHeader {
  margin-bottom: 2rem;
  color: var(--bs-text);
}

@media only screen and (max-width: 433px) {
  .contentHeader {
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 768px) and (min-width: 434px) {
  .contentHeader {
    margin-bottom: 1rem;
  }
}
