# The url of the backend api server
NEXT_PUBLIC_API_URL=http://localhost:3001

# The variant of the system. The variant will affect on the
# localization, features and organization info in use with the system.
# Please, notice that the same variable must be set to the backend's env 
# variable too.
MEMORIAALI_VARIANT=default