.createUserText {
  text-align: center;
}

.modalBg {
  background-color: var(--bs-modalBg);
  color: var(--bs-text);
}

.modalTitle {
  text-align: center;
  width: 100%;
}

.customClose {
  color: var(--bs-text);
  font-size: 1.5rem;
  border: none;
  background: transparent;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.customClose:hover {
  color: var(--bs-text);
}
